{:aliases
 {:dev {:extra-paths ["components/auth/src"
                      "components/profile/src"
                      "components/questionnaire/src"
                      "components/quiz-engine/src"
                      "components/scoreboard/src"
                      "components/streak/src"
                      "bases/cli/src"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}

  :test {:extra-paths ["components/auth/test"
                       "components/profile/test"
                       "components/questionnaire/test"
                       "components/quiz-engine/test"
                       "components/scoreboard/test"
                       "components/streak/test"
                       "bases/cli/test"]}

  :cli {:main-opts  ["-m" "smartybit-quiz.cli.core"]
        :extra-deps {cli/quiz {:local/root "projects/cli"}}}

  :repl
  {:exec-fn clojure.core.server/start-server
   :exec-args {:name "repl-server"
               :port 5555
               :accept clojure.core.server/repl
               :server-daemon false}}

  :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}
         :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}

  :outdated {:main-opts ["-m" "antq.core"]
             :extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1260"}}}}}
