{:aliases  {:dev {:extra-paths ["development/src"
                                "bases/webapp/src"
                                "components/quiz-engine/src"
                                "components/profile/src"
                                "components/repository/src"]

                  :extra-deps {smartybit/profile {:local/root "components/profile"}
                               smartybit/quiz-engine {:local/root "components/quiz-engine"}
                               smartybit/repository {:local/root "components/repository"}

                               org.clojure/clojure {:mvn/version "1.12.0"}
                               metosin/malli {:mvn/version "0.17.0"}
                               ring/ring-core {:mvn/version "1.13.0"}
                               compojure/compojure {:mvn/version "1.7.1"}
                               io.pedestal/pedestal.jetty {:mvn/version "0.7.2"}
                               com.novemberain/monger {:mvn/version "3.5.0"}
                               mount/mount {:mvn/version "0.1.16"}}}

            :test {:extra-paths ["bases/webapp/test"
                                 "components/quiz-engine/test"
                                 "components/profile/test"
                                 "components/repository/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}

            :repl {:exec-fn clojure.core.server/start-server
                   :exec-args {:name "repl-server"
                               :port 5555
                               :accept clojure.core.server/repl
                               :server-daemon false}}

            :outdated {:main-opts ["-m" "antq.core"]
                       :extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1260"}}}}}
