{:deps {org.clojure/clojure {:mvn/version "1.12.0"}

        smartybit-quiz/auth {:local/root "../../components/auth"}
        smartybit-quiz/profile {:local/root "../../components/profile"}
        smartybit-quiz/questionnaire {:local/root "../../components/questionnaire"}
        smartybit-quiz/quiz-engine {:local/root "../../components/quiz_engine"}
        smartybit-quiz/scoreboard {:local/root "../../components/scoreboard"}
        smartybit-quiz/streak {:local/root "../../components/streak"}

        smartybit-quiz/cli {:local/root "../../bases/cli"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
